# --- Java ---
*.class
*.jar
*.war
*.ear
bin/
out/
target/
.gradle/
build/

# --- Librerías externas (para evitar el error de 100MB) ---
lib/

# --- Configuraciones de IDE ---
.idea/
.vscode/
*.iml
*.iws
*.ipr

# --- Sistema Operativo ---
.DS_Store
Thumbs.db